<section id="chat" class="w-full border-x border-x-gray-600 scrollbar overflow-auto flex flex-col scroll-smooth">
    <!-- <div class="w-full h-full flex flex-col items-center justify-center text-xl gap-3"><img
            src="/images/favicon.jpg" alt="better chat" class="rounded-md w-32">
        <div>Bett3r Ch4t</div>
    </div> -->

    
</section>