<form
  id="form"
  onsubmit="return false;"
  class="p-1 md:p-4 flex flex-col gap-4 w-full md:w-[70%] max-w-96"
>
  <div
    class="flex items-center gap-2 p-1 border-b border-b-gray-400 rounded-sm"
  >
    <span class="material-symbols-outlined"> alternate_email </span>
    <input
      id="username"
      type="text"
      placeholder="Username"
      class="bg-transparent text-white outline-none px-2 py-1 w-full"
      required
    />
  </div>
  <div
    class="flex items-center gap-2 p-1 border-b border-b-gray-400 rounded-sm"
  >
    <span class="material-symbols-outlined"> password </span>
    <input
      id="password"
      type="password"
      placeholder="Password"
      class="bg-transparent text-white outline-none px-2 py-1 w-full"
      required
    />
  </div>
  <button
    id="account"
    data-type="signup"
    class="w-32 text-center px-7 py-2 bg-sky-400 bg-opacity-90 text-black text-base rounded-md font-semibold ml-auto mt-4 hover:bg-sky-950 hover:text-white transition-colors h-12 flex items-center justify-center disabled:cursor-not-allowed"
  >
    Sign Up
  </button>
</form>
